import import import

In [0]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline

import warnings

In [0]:
df_jul2019 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/jul2019.xls')
df_apr2020 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/apr2020.xls')
df_jan2020 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/jan2020.xls')
df_aug2019 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/aug2019.xls')
df_sep2019 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/sep2019.xls')
df_oct2019 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/oct2019.xls')
df_nov2019 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/nov2019.xls')
df_dec2019 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/dec2019.xls')
df_feb2020 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/feb2020.xls')
df_mar2020 = pd.read_excel (r'/content/drive/My Drive/salesByMonth/mar2020.xls')

In [0]:
#month = ['jul2019','apr2020','jan2020','aug2019','sep2019','oct2019','nov2020','dec2019','feb2019','mar2019']
#for s in month:
#  df_

In [75]:
df_mar2020.head()

   序号        公司编号       客户新代码  ...      折人民币 国内采购成本          采购员
0   1  G851170324  D121226246  ...  1,342.38  870.0        Alice
1   2  G951090651  D261226888  ...    179.31   81.6  Sydnie.Wang
2   3  G621013274  C541172582  ...     84.32   30.7     Iris.Liu
3   4  G631169366   611192334  ...    629.01  165.0  Sydnie.Wang
4   5  G441171133  D111226875  ...  1,667.07  912.0         lisa

[5 rows x 67 columns]

In [76]:
df_mar2020.columns

Index(['序号', '公司编号', '客户新代码', '客户名称', '所属国家', '收货地址', '收货国家', '运营模式', '订单号',
       '发货仓库', '出库单号', '发货时间', '商品ID', '存货ID', '虚拟ID', '电源线', 'los', '供应商',
       'CG号', '中文名称', '货物名称', '规格型号', '产品重量', '发货总重量', '销售地区', '业务员', '到款方式',
       '到款币种', '到款金额', '打款时间', '发票号', 'HF单号', 'IN编码', '发票重开', '销售币种', '数量',
       '订单单价', '前台售价', '折算汇率', '含税单价', '含税金额', '其中销售税', '客户GST税号', 'GST税率',
       'GST金额', 'GST分摊', '不含税金额（原币）', '不含税金额（AUD）', '个人/公司', '运输方式', '运单号',
       '转运方式', '转运单号', '是否免运费', '运费金额', '分摊运费', '保险费用', '分摊保费', '实际运费', '采购单价',
       '采购运费', '采购成本原币', '采购成本（AUD）', '仓管ID', '折人民币', '国内采购成本', '采购员'],
      dtype='object')

In [0]:
df_all = pd.concat([df_jul2019,df_apr2020,df_jan2020,df_aug2019,df_sep2019,df_oct2019,df_nov2019,df_dec2019,df_feb2020,df_mar2020], axis=0, ignore_index=True)

In [78]:
df_all.sample()

        序号 公司编号       客户新代码                 客户名称  ... 分摊保费 8月运费对账单 客户编码 含税金额.1
6579  1260  NaN  D521177528  Belmont High School  ...  NaN     NaN  NaN    NaN

[1 rows x 70 columns]

In [79]:
df_all['运输方式'].value_counts()

StarTrack Premium                             12820
TNT Road Express 1-4 Business Days             4432
StarTrack Fixed Price Premium                  2207
TNT Overnight Express                          2198
StarTrack Premium 1-3 Business Days            1468
DHL Express Worldwide Service                   608
Pickup at warehouse                             604
Australia Post Standard                         457
Australia Post Express                          373
DHL Express 1-3 Business Days                   345
FedEx Normal Service                            103
FedEx Express Service                            97
StarTrack 1-5 Business Days                      93
TNT 9:00 Express                                 75
DHL Express Worldwide 1-3 Business Days          18
StarTrack Premium 1-3 Business                   17
Australia Post Express 2-4 Business Days         16
TNT 9:00 Express Service                         10
Australia Post Standard 3-10 Business Days        6
TNT SameDay                                       4
Fastway Courier                                   4
TNT 10:00 Express                                 2
TNT 12:00 Express                                 2
DHL Express Worldwide                             1
DHL Express                                       1
pick up                                           1
TNT Express PC                                    1
Name: 运输方式, dtype: int64

In [0]:
df_all2 = df_all.rename({'运输方式': 'DeliveryMethod','发货时间':'PickUpTime','订单号':'OrderNumber','不含税金额（AUD）':'PriceWithoutGST(AUD)','运单号':'TrackingNumber'}, axis=1)

In [81]:
df_all2['DeliveryMethod'].unique()

array(['StarTrack Premium 1-3 Business Days', 'TNT Overnight Express',
       'TNT Road Express 1-4 Business Days', 'Australia Post Standard',
       'Pickup at warehouse', 'DHL Express Worldwide Service',
       'StarTrack Premium', 'FedEx Express Service',
       'FedEx Normal Service', 'Australia Post Express',
       'DHL Express 1-3 Business Days', 'Fastway Courier',
       'StarTrack Premium 1-3 Business', 'TNT 9:00 Express Service',
       'StarTrack Fixed Price Premium',
       'Australia Post Express\xa02-4\xa0Business Days',
       'StarTrack 1-5 Business Days', 'TNT 9:00 Express',
       'Australia Post Standard\xa03-10\xa0Business Days',
       'TNT 12:00 Express',
       'DHL Express Worldwide\xa01-3\xa0Business Days', 'TNT Express PC',
       'DHL Express Worldwide', 'TNT SameDay', nan, 'DHL Express',
       'pick up', 'TNT 10:00 Express'], dtype=object)

In [0]:
startrack_tnt = ['StarTrack Premium','TNT Road Express 1-4 Business Days','StarTrack Fixed Price Premium','TNT Overnight Express','StarTrack Premium 1-3 Business Days','StarTrack 1-5 Business Days','TNT 9:00 Express','StarTrack Premium 1-3 Business','TNT 9:00 Express Service','TNT SameDay','TNT 10:00 Express','TNT 12:00 Express','TNT Express PC']
notstartrack_tnt = ['Australia Post Standard',
       'Pickup at warehouse', 'DHL Express Worldwide Service',
       'FedEx Express Service',
       'FedEx Normal Service', 'Australia Post Express',
       'DHL Express 1-3 Business Days', 'Fastway Courier',
       'Australia Post Express 2-4 Business Days',
       'Australia Post Standard 3-10 Business Days',
       'DHL Express Worldwide 1-3 Business Days', 
       'DHL Express Worldwide', 'DHL Express','Australia Post Standard\xa03-10\xa0Business Days','Australia Post Express\xa02-4\xa0Business Days','DHL Express Worldwide\xa01-3\xa0Business Days',
       'pick up']
#startrack_tnt
for i in notstartrack_tnt:
  df_all2 = df_all2[df_all2['DeliveryMethod'] != i]

In [83]:
#df = df.drop(df[df.score < 50].index)
df_all2['DeliveryMethod'].value_counts()

StarTrack Premium                      12820
TNT Road Express 1-4 Business Days      4432
StarTrack Fixed Price Premium           2207
TNT Overnight Express                   2198
StarTrack Premium 1-3 Business Days     1468
StarTrack 1-5 Business Days               93
TNT 9:00 Express                          75
StarTrack Premium 1-3 Business            17
TNT 9:00 Express Service                  10
TNT SameDay                                4
TNT 12:00 Express                          2
TNT 10:00 Express                          2
TNT Express PC                             1
Name: DeliveryMethod, dtype: int64

In [84]:
#df_all2['DeliveryMethod'].isnull.sum()
#df_all2[df_all2['DeliveryMethod'].isnull().any(axis=1)]


tempdf = df_all2[df_all2['DeliveryMethod'].isnull()]
tempdf

         序号        公司编号       客户新代码  ... 8月运费对账单         客户编码 含税金额.1
15697  1116  G781016126   531124787  ...     NaN  531124787.0    NaN
21380   867  G271003249   591134078  ...     NaN          NaN    NaN
21384   871  G271003249   591134078  ...     NaN          NaN    NaN
21497    94         NaN  D431217479  ...     NaN          NaN    NaN
21498    95         NaN  D431217479  ...     NaN          NaN    NaN
21503   100         NaN  D201171303  ...     NaN          NaN    NaN
21608   205  G191021458   251137358  ...     NaN          NaN    NaN
25438   219  G651001111   301105913  ...     NaN          NaN    NaN

[8 rows x 70 columns]

In [0]:
#df_all2['DeliveryMethod'].mask(df_all2['运单号'] == 'J8PZ50005857', 'Startrack', inplace=True)
df_all2.loc[25438,'DeliveryMethod'] = 'Startrack'
df_all2.loc[21498,'DeliveryMethod'] = 'Startrack'
df_all2.loc[21497,'DeliveryMethod'] = 'Startrack'
df_all2.loc[21380,'DeliveryMethod'] = 'Fedex'
df_all2.loc[15697,'DeliveryMethod'] = 'Startrack'
df_all2.loc[21608,'DeliveryMethod'] = 'Startrack'
df_all2.loc[21503,'DeliveryMethod'] = 'Startrack'
df_all2.loc[21384,'DeliveryMethod'] = 'Fedex'

In [0]:
df_all2 = df_all2[df_all2['DeliveryMethod'] != 'Fedex']

In [87]:
tempdf = df_all2[df_all2['DeliveryMethod'].isnull()]
tempdf

Empty DataFrame
Columns: [序号, 公司编号, 客户新代码, 客户名称, 所属国家, 收货地址, 收货国家, 运营模式, OrderNumber, 发货仓库, 出库单号, PickUpTime, 商品ID, 存货ID, 虚拟ID, 中文名称, 货物名称, 规格型号, 产品重量, 发货总重量, 销售地区, 业务员, 到款方式, 到款币种, 到款金额, 打款时间, 发票号, 销售币种, 数量, 前台售价, 折算汇率, 含税单价, 含税金额, 其中销售税, 客户GST税号, GST税率, GST金额, GST分摊, 不含税金额（原币）, PriceWithoutGST(AUD), 个人/公司, DeliveryMethod, TrackingNumber, 转运方式, 转运单号, 是否免运费, 运费金额, 分摊运费, 保险费用, 实际运费, 采购单价, 采购运费, 采购成本原币, 采购成本（AUD）, 仓管ID, 折人民币, 国内采购成本, 采购员, 电源线, los, 供应商, CG号, HF单号, IN编码, 发票重开, 订单单价, 分摊保费, 8月运费对账单, 客户编码, 含税金额.1]
Index: []

In [88]:
df_all2['DeliveryMethod'].unique()

array(['StarTrack Premium 1-3 Business Days', 'TNT Overnight Express',
       'TNT Road Express 1-4 Business Days', 'StarTrack Premium',
       'StarTrack Premium 1-3 Business', 'TNT 9:00 Express Service',
       'StarTrack Fixed Price Premium', 'StarTrack 1-5 Business Days',
       'TNT 9:00 Express', 'TNT 12:00 Express', 'TNT Express PC',
       'TNT SameDay', 'Startrack', 'TNT 10:00 Express'], dtype=object)

In [0]:
df_all2['DeliveryMethod2']= df_all2['DeliveryMethod']

In [0]:
#df['Desk'] = df['Desk'].map( {'N': 0, 'Y': 1, 'YY': 1} )
df_all2['DeliveryMethod2'] = df_all2['DeliveryMethod2'].replace(['StarTrack Premium 1-3 Business Days'
  , 'StarTrack Premium', 'StarTrack Premium 1-3 Business',
  'StarTrack Fixed Price Premium','StarTrack 1-5 Business Days',
  ], 'Startrack')
df_all2['DeliveryMethod2'] = df_all2['DeliveryMethod2'].replace(['TNT Overnight Express'
  , 'TNT Road Express 1-4 Business Days', 'TNT 9:00 Express Service',
  'TNT 12:00 Express','TNT Express PC','TNT SameDay', 'TNT 10:00 Express','TNT 9:00 Express'
  ], 'TNT')

In [91]:
df_all2['DeliveryMethod'].unique()

array(['StarTrack Premium 1-3 Business Days', 'TNT Overnight Express',
       'TNT Road Express 1-4 Business Days', 'StarTrack Premium',
       'StarTrack Premium 1-3 Business', 'TNT 9:00 Express Service',
       'StarTrack Fixed Price Premium', 'StarTrack 1-5 Business Days',
       'TNT 9:00 Express', 'TNT 12:00 Express', 'TNT Express PC',
       'TNT SameDay', 'Startrack', 'TNT 10:00 Express'], dtype=object)

In [92]:
df_all2['DeliveryMethod2'].value_counts()

Startrack    16611
TNT           6724
Name: DeliveryMethod2, dtype: int64

In [93]:
df_all2.sample()

        序号 公司编号       客户新代码 客户名称  ... 8月运费对账单         客户编码 含税金额.1 DeliveryMethod2
15514  933  NaN  C201107578  Rob  ...     NaN  201107578.0    NaN       Startrack

[1 rows x 71 columns]

In [0]:
df_all2 = df_all2[df_all2['PriceWithoutGST(AUD)'] >= 0]

In [0]:
#table = pd.pivot_table(df_all2,index=['DeliveryMethod2','OrderNumber','TrackingNumber'],aggfunc={'PriceWithoutGST(AUD)':np.sum})
#table

In [107]:
table_groupby = df_all2.groupby(['DeliveryMethod2','OrderNumber','TrackingNumber'], as_index=False)['PriceWithoutGST(AUD)'].sum()
table_groupby

      DeliveryMethod2        OrderNumber TrackingNumber  PriceWithoutGST(AUD)
0           Startrack   AL20191010006-AU   J8PZ50003176                676.20
1           Startrack  AL20191010006-AU3   J8PZ50003521               1470.00
2           Startrack  AL20191010006-AU4   J8PZ50004049               4753.00
3           Startrack   BH20190118007-AU   5DYZ00003045                375.25
4           Startrack   BH20190130001-AU   5DYZ00003291                366.70
...               ...                ...            ...                   ...
10844             TNT   ZQ20191121057-AU      428104095               1260.44
10845             TNT   ZQ20191122094-AU      429396575               1905.00
10846             TNT   ZQ20191125041-AU      430121510                312.60
10847             TNT  ZQ20191127056-AU3   FMO200114347              62372.00
10848             TNT  ZQ20191128055-AU1      432423773                878.20

[10849 rows x 4 columns]

In [97]:
table.columns

Index(['PriceWithoutGST(AUD)'], dtype='object')

In [98]:
import glob

path = r'/content/drive/My Drive/tnt' # use your path
all_files = glob.glob(os.path.join(path, "*.CSV"))
df_tnt = pd.concat((pd.read_csv(f) for f in all_files))
#li = []
#
#for filename in all_files:
#    df = pd.read_csv(filename, index_col=None, header=0)
#    li.append(df)

#frame = pd.concat(li, axis=0, ignore_index=True)
df_tnt.sample(3)

    Account Number Account Name  Year  ...  Surcharge   GST  Total Amount
9         30024251       FS.COM  2020  ...       4.43  2.92         32.11
22        30024251       FS.COM  2020  ...       2.85  1.84         20.28
41        30024251       FS.COM  2020  ...       2.45  1.45         15.91

[3 rows x 34 columns]

In [0]:
df_tnt = df_tnt.rename({'Consignment No':'TrackingNumber'}, axis=1)

In [0]:
df_tnt['TrackingNumber'] = df_tnt['TrackingNumber'].astype(str)
table_groupby['TrackingNumber'] = table_groupby['TrackingNumber'].astype(str)

In [0]:
df_tnt_lookup = df_tnt.merge(
                     table_groupby,  
                     on ='TrackingNumber',  
                     how ='left')

In [131]:
df_tnt_lookup.loc[df_tnt_lookup['TrackingNumber'] == '287817482']

      Account Number Account Name  ...        OrderNumber  PriceWithoutGST(AUD)
1067        30024251       FS.COM  ...  CW20190903234-AU1                  53.0

[1 rows x 37 columns]

In [101]:
df_tnt_lookup.sample(3)

      Account Number Account Name  Year  ...  客户编码 含税金额.1  DeliveryMethod2
524         30024251       FS.COM  2020  ...   NaN    NaN              TNT
1036        30024251       FS.COM  2020  ...   NaN    NaN              TNT
1743        30024251       FS.COM  2020  ...   NaN    NaN              NaN

[3 rows x 104 columns]

In [132]:
tempdf = df_tnt_lookup[df_tnt_lookup['PriceWithoutGST(AUD)'].isnull()]
tempdf

     Account Number Account Name  ...  OrderNumber  PriceWithoutGST(AUD)
14         30024251       FS.COM  ...          NaN                   NaN
57         30024251       FS.COM  ...          NaN                   NaN
64         30024251       FS.COM  ...          NaN                   NaN
74         30024251       FS.COM  ...          NaN                   NaN
111        30024251       FS.COM  ...          NaN                   NaN
112        30024251       FS.COM  ...          NaN                   NaN
137        30024251       FS.COM  ...          NaN                   NaN
229        30024251       FS.COM  ...          NaN                   NaN
276        30024251       FS.COM  ...          NaN                   NaN
360        30024251       FS.COM  ...          NaN                   NaN
570        30024251       FS.COM  ...          NaN                   NaN
571        30024251       FS.COM  ...          NaN                   NaN
572        30024251       FS.COM  ...          NaN                   NaN
573        30024251       FS.COM  ...          NaN                   NaN
574        30024251       FS.COM  ...          NaN                   NaN
575        30024251       FS.COM  ...          NaN                   NaN
578        30024251       FS.COM  ...          NaN                   NaN
579        30024251       FS.COM  ...          NaN                   NaN
610        30024251       FS.COM  ...          NaN                   NaN
636        30024251       FS.COM  ...          NaN                   NaN
918        30024251       FS.COM  ...          NaN                   NaN
949        30024251       FS.COM  ...          NaN                   NaN
998        30024251       FS.COM  ...          NaN                   NaN

[23 rows x 37 columns]